<%= render partial: 'navbar' %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path "cocktail_banner_seul4n" %>')">
  <div class="banner-container">
    <h1>Mister Cocktail</h1>
    <p>The best <strong>cocktails</strong> in town !</p>
    <span class="btn-banner"><a id="link" href="#ancre-cocktail">Scroll to see all</a><p id="btn-banner-chevron">></p></span>
  </div>
</div>

<h2 class="title">All the cocktails</h2>
<div id="ancre-cocktail" class="cocktails-cards">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo, height: 200, width: 300, crop: :thumb %>')">
      <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
    </div>
  <% end %>
</div>
<div class="btn-add">
  <%= link_to new_cocktail_path do %>
      <p>Add a new cocktail <i class="fas fa-cocktail"></i></p>
  <% end %>
</div>
