<%= render partial: 'navbar' %>

<div class="form">
  <h1 class="title">New cocktail</h1>
  <div class="form-cocktail">
    <%= simple_form_for [@cocktail] do |f| %>
      <%= f.input :name %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Create a cocktail", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
