<%= render partial: 'navbar' %>

<div class="form">
  <h1 class="title">New dose for <%= @cocktail.name %></h1>
  <div class="form-cocktail">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :quantity %>
    <%= f.association :ingredient %>
    <%= f.submit "Create dose", class:"btn btn-primary" %>
    <% end %>
  </div>
  <%= link_to "Go back", cocktail_path(@cocktail), class:"link-back" %>
</div>

